public net.minecraft.server.MinecraftServer func_71192_d(Ljava/lang/String;)V # setUserMessage
public net.minecraft.server.MinecraftServer field_71289_N # enableBonusChest
public net.minecraft.server.integrated.IntegratedServer field_71350_m # worldSettings
# For async weather
public net.minecraft.world.World field_72986_A # worldInfo
